<dx-box class="item1" direction="row" width="100%" [height]="95">
    <dxi-item [ratio]="1" [baseSize]="450">
        <dx-select-box #metersSelect [dataSource]="meters" displayExpr="caption" width="350" valueExpr="id"
            (onItemClick)="changeMeters(metersSelect.value)" placeholder="{{meters[0].caption}}"></dx-select-box>
    </dxi-item>
    <dxi-item [ratio]="2">
        <dx-date-box #dateSelect [value]="value_dt" pickerType="rollers" width="200" applyValueMode="useButtons"
            (onValueChanged)="changeDate($event)">
        </dx-date-box>
    </dxi-item>
    <dxi-item [ratio]="3">
    </dxi-item>
</dx-box>




<dx-data-grid id="gridContainer" [dataSource]="measuring" [allowColumnResizing]="true" [columnAutoWidth]="true"
    [showBorders]="true" class="item1">
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-sorting mode="single"></dxo-sorting>
    <dxi-column dataField="value_dt" caption="" sortOrder="asc" format="HH:mm:ss" dataType="date"></dxi-column>
    <dxi-column dataField="actR" caption="Активная, прием кВт" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="actO" caption="Активная, отдача кВт" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="reactR" caption="Реактивная, прием, квар" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="reactO" caption="Активная, отдача, квар" [allowSorting]="false"></dxi-column>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
</dx-data-grid>